* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  line-height: 2;
  padding: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
}

img {
  width: 400px;
  height: 200px;
  margin: 20px;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 150;
}

.form {
  display: block;
  background: lightgray;
  padding: 20px 20px;
  text-align: justify;
  font-size: 19px;
  border-radius: 5px;
}
.form p {
  margin: auto;
}
.form .contacts label {
  display: inline-block;
  width: 100px;
}
.form .contacts input {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
}
.form .account-type {
  display: flex;
  font-size: 18px;
}
.form .account-type input {
  height: 10px;
  width: 20px;
}
.form textarea {
  border-radius: 5px;
}
.form .container button {
  width: 150px;
  height: 40px;
  background: #426a5a;
  border-radius: 5px;
  color: white;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.form .container button:hover {
  background: rgb(143, 146, 145);
}

.address {
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
}
.footer-container .address-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.footer-container .address-item img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.line {
  border: 1px solid #ccc;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 10px;
  display: inline;
}

/* DESKTOP */
@media (min-width: 1080px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .footer {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 555px) {
  .footer {
    width: 100%;
  }
}
/*Om oss*/
.hero {
  width: 80vh;
}

h2 {
  text-align: center;
}

.timeline {
  width: 80%;
  max-width: 940px;
  margin: 28px auto;
}
.timeline-list {
  padding: 40px 0;
}
.timeline-list-item {
  display: flex;
  line-height: 1.5;
  font-size: 16px;
}
.timeline-list-item .date {
  width: 20%;
  padding: 0 0 0 20px;
  color: #888888;
  font-weight: bold;
}
.timeline-list-item .content {
  position: relative;
  width: 80%;
  padding: 0 20px 60px 30px;
  border-left: 1px solid #aaaaaa;
}
.timeline-list-item .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #426a5a;
  border-radius: 10px;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.container .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .member .TitleEmail {
  display: flex;
  justify-content: space-between;
  color: #888888;
}
.container .member .portrait {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */