nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
nav #navbar {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
nav #navbar img {
  max-height: 100%;
}
nav #navbar button {
  height: 100%;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
}

#navbar-links {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#navbar-links a {
  margin: 0.5rem;
}

.display {
  display: none !important;
}

.scrollLock {
  overflow: hidden;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: row;
  }
  #navbar button {
    display: none;
  }
  #navbar-links {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0.2rem;
    width: 30rem;
    right: 1rem;
    text-align: right;
    padding: 0.5rem;
    height: 2rem;
    background-color: white;
    display: inline-block;
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
}
.footer-container .address-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.footer-container .address-item img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.line {
  border: 1px solid #ccc;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 10px;
  display: inline;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: white;
  position: relative;
  bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
nav #navbar {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
nav #navbar img {
  max-height: 100%;
}
nav #navbar button {
  height: 100%;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
}

#navbar-links {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#navbar-links a {
  margin: 0.5rem;
}

.display {
  display: none !important;
}

.scrollLock {
  overflow: hidden;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: row;
  }
  #navbar button {
    display: none;
  }
  #navbar-links {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0.2rem;
    width: 30rem;
    right: 1rem;
    text-align: right;
    padding: 0.5rem;
    height: 2rem;
    background-color: white;
    display: inline-block;
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
}
.footer-container .address-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.footer-container .address-item img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.line {
  border: 1px solid #ccc;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 10px;
  display: inline;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: white;
  position: relative;
  bottom: 0;
}

.index {
  height: 100vh;
  background: url("/img/topImage-1.jpg") no-repeat center;
  background-size: cover;
  font-family: serif;
}
.index main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 8vh;
}
.index main h2 {
  font-family: arial;
  font-size: 2rem;
  margin: 0;
}
.index main p {
  width: 70%;
  font-family: serif;
  text-align: center;
  font-size: 1rem;
}
.index main .CTA {
  padding: 0.5rem;
  background-color: #426a5a;
  color: white;
  min-width: 150px;
  border-radius: 110px;
  border: solid 2px transparent;
  margin: 20px;
  font-family: arial;
  font-size: 1rem;
}
.index main button:hover {
  cursor: pointer;
  border: solid 2px orange;
  transition-duration: 300ms;
}
.index .footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .index main {
    position: relative;
    top: 5vh;
  }
  .index main h2 {
    font-size: 3rem;
  }
  .index main p {
    font-size: 1.4rem;
  }
  .index main .CTA {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
  }
}

.kontakt {
  box-sizing: border-box;
  padding: 0;
  margin: 20px;
  /* DESKTOP*/
}
.kontakt body {
  background-color: white;
  color: black;
  line-height: 2;
  padding: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.kontakt .wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.kontakt .container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
}
.kontakt .container img {
  width: 400px;
  height: 200px;
  margin: 20px;
}
.kontakt .container h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 150;
}
.kontakt .container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  padding: 20px 20px;
  text-align: justify;
  font-size: 19px;
  border-radius: 5px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.kontakt .container .form .contacts label {
  display: inline-block;
  width: 100px;
}
.kontakt .container .form .contacts input {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
}
.kontakt .container .form .account-type {
  display: flex;
  font-size: 18px;
  margin: 10px;
}
.kontakt .container .form .account-type input {
  height: 10px;
  width: 20px;
}
.kontakt .container .topic {
  width: 300px;
}
.kontakt .container textarea {
  border-radius: 5px;
  width: 300px;
}
.kontakt .container button {
  width: 150px;
  height: 40px;
  background: #426a5a;
  border-radius: 5px;
  color: white;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.kontakt .container button:hover {
  background: rgb(143, 146, 145);
}
.kontakt .address {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.kontakt .address img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.kontakt .line {
  border: 1px solid #ccc;
}
.kontakt .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
}
.kontakt .footer-links a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 20px;
  display: inline;
}
.kontakt .footer-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 10px;
  display: inline;
}
@media (min-width: 1080px) {
  .kontakt .wrapper {
    display: flex;
    flex-direction: row;
  }
  .kontakt .footer {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 555px) {
  .kontakt .footer {
    width: 100%;
  }
}

/*Om oss*/
.omoss {
  font-family: serif;
}
.omoss .hero {
  width: 80%;
}
.omoss main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.omoss h2 {
  text-align: center;
  font-family: arial;
}
.omoss .timeline {
  width: 80%;
  max-width: 940px;
  margin: 28px auto;
}
.omoss .timeline-list {
  padding: 40px 0;
}
.omoss .timeline-list-item {
  display: flex;
  line-height: 1.5;
  font-size: 16px;
}
.omoss .timeline-list-item .date {
  width: 20%;
  padding: 0 0 0 20px;
  color: #888888;
  font-weight: bold;
}
.omoss .timeline-list-item .content {
  position: relative;
  width: 80%;
  padding: 0 20px 60px 30px;
  border-left: 1px solid #aaaaaa;
}
.omoss .timeline-list-item .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #426a5a;
  border-radius: 10px;
}
.omoss .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.omoss .container .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}
.omoss .container .member .TitleEmail {
  display: flex;
  justify-content: space-between;
  color: #888888;
}
.omoss .container .member .portrait {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .omoss .members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .omoss .members .member {
    width: 25%;
    justify-content: flex-start;
  }
  .omoss .members .member .portrait {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  }
}

#produkterBODY {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#produkterBODY main {
  padding-left: 1rem;
  padding-right: 1rem;
}
#produkterBODY #produkter {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#produkterBODY #produkter img {
  width: 100%;
  max-width: 750px;
}
#produkterBODY #produkter h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
#produkterBODY #produkter .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#produkterBODY #produkter .container .productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 250px;
  margin-bottom: 2rem;
}
#produkterBODY #produkter .container .productCard h2 {
  margin-bottom: 0.2rem;
}
#produkterBODY #produkter .container .productCard p {
  text-align: center;
  margin-bottom: 1rem;
}
#produkterBODY #produkter .container .productCard button {
  padding: 0.5rem;
  background-color: #426a5a;
  color: white;
  border: none;
  min-width: 80px;
  border-radius: 110px;
  border: solid 2px transparent;
}
#produkterBODY #produkter .container .productCard button:hover {
  cursor: pointer;
  border: solid 2px orange;
  transition-duration: 300ms;
}

#referenserBODY {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#referenserBODY #referenser {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#referenserBODY #referenser .reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
#referenserBODY #referenser .reviewCard img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#referenserBODY #referenser .reviewCard h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
#referenserBODY #referenser .reviewCard .container {
  background-color: #db5c5c;
  border-radius: 0.5rem;
}
#referenserBODY #referenser .reviewCard .container .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}
#referenserBODY #referenser .reviewCard .container .container svg {
  color: yellow;
}
#referenserBODY #referenser .reviewCard .container p {
  padding: 0 1rem;
  text-align: center;
  height: 100px;
}
@media (min-width: 768px) {
  #referenserBODY #referenser {
    flex-direction: row;
    align-items: center;
  }
  #referenserBODY #referenser .reviewCard {
    margin: 2rem;
  }
}/*# sourceMappingURL=style.css.map */