.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;

  .address-item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    img {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
}

.line {
  border: 1px solid #ccc; // Change the color and style as desired
  // Add margin for spacing
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0 10px;
  display: inline;
}
