.index {
  margin: 0;

  .wrapper {
    height: 100vh;
    background: url("/img/topImage-1.jpg") no-repeat center;
    background-size: cover;
    font-family: $font-1;
    margin: 0;

    main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 8vh;

      h2 {
        font-family: $font-2;
        font-size: $l;
        margin: 0;
      }

      p {
        width: 70%;
        font-family: $font-1;
        text-align: center;
        font-size: $m;
      }

      .CTA {
        padding: $s;
        background-color: $c-3;
        color: white;
        min-width: 150px;
        border-radius: 110px;
        border: solid 2px transparent;
        margin: 20px;
        font-family: $font-2;
        font-size: $m;
      }

      button:hover {
        @include buttonHover();
      }
    }

    .footer {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @media (min-width: 1024px) {
      main {
        position: relative;
        top: 10vh;

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: $l * 0.7;
        }
        .CTA {
          width: 200px;
          height: 50px;
          font-size: 1.2rem;
        }
      }
    }
  }

  #link_home {
    color: $c-6;
  }
}
