.index{
    height: 100vh;
    background: url("/img/topImage-1.jpg") no-repeat;
    background-size: cover;

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
    }

}