$c-1: white;
$c-2: black;
$c-3: #426a5a;
$c-4: #f4d1ae;
$c-5: #db5c5c;
$c-6: orange;

$font-1: serif;
$font-2: arial;

$xs: 0.2rem;
$s: 0.5rem;
$m: 1rem;
$l: 2rem;
$xl: 4rem;

@mixin desktop() {
  @media (min-width: 1024px){
  }
}

@mixin buttonHover() {
  cursor: pointer;
  border: solid 2px $c-6;
  transition-duration: 300ms;
}

@mixin button {
  padding: $s;
  background-color: $c-3;
  color: white;
  border: none;
  min-width: 80px;
  border-radius: 110px;
  border: solid 2px transparent;
}
